@keyframes fingerLeft {
  0% {
    left: -30px;
  }
  50% {
    left: -20px;
  }
  100% {
    left: -30px;
  }
}
@keyframes fingerRight {
  0% {
    right: -30px;
  }
  50% {
    right: -20px;
  }
  100% {
    right: -30px;
  }
}

@keyframes nones {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes remove {
  0% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #1500ff;
  }

  50% {
    background: rgb(255, 0, 0);
    box-shadow: 0 0 14px #ff0000;
  }

  100% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #2600ff;
  }
}

@keyframes spin1 {
  0% {
    background: #000;
  }

  20% {
    background: #000;
  }

  50% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #1500ff;
  }

  100% {
    background: rgb(4, 0, 255);
    box-shadow: 0 0 14px #1500ff;
    transform: translate(-50%, -70%) rotatez(270deg);
  }
}

@keyframes spin2 {
  0% {
    background: #000;
  }

  20% {
    background: #000;
  }

  50% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #1500ff;
    // transform: translate(-50%, 70%) rotatez(288deg);
  }

  100% {
    background: rgb(4, 0, 255);
    box-shadow: 0 0 14px #1500ff;
    transform: translate(-50%) rotatez(288deg);
  }
}

@keyframes spin3 {
  0% {
    background: #000;
  }

  20% {
    background: #000;
  }

  50% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #1500ff;
    // transform: translate(-50%, 70%) rotatez(126deg);
  }

  100% {
    background: rgb(4, 0, 255);
    box-shadow: 0 0 14px #1500ff;
    transform: translate(-50%) rotatez(306deg);
  }
}

@keyframes spin4 {
  0% {
    background: #000;
  }

  20% {
    background: #000;
  }

  50% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #1500ff;
    // transform: translate(-50%, 70%) rotatez(144deg);
  }

  100% {
    background: rgb(4, 0, 255);
    box-shadow: 0 0 14px #1500ff;
    transform: translate(-50%) rotatez(324deg);
  }
}

@keyframes spin5 {
  0% {
    background: #000;
  }

  20% {
    background: #000;
  }

  50% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #1500ff;
  }

  100% {
    background: rgb(4, 0, 255);
    box-shadow: 0 0 14px #1500ff;
    transform: translate(-50%) rotatez(342deg);
  }
}

@keyframes spin6 {
  0% {
    background: #000;
  }

  20% {
    background: #000;
  }

  50% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #1500ff;
  }

  100% {
    background: rgb(4, 0, 255);
    box-shadow: 0 0 14px #1500ff;
    transform: translate(-30%) rotatez(360deg);
  }
}

@keyframes spin7 {
  0% {
    background: #000;
  }

  20% {
    background: #000;
  }

  50% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #1500ff;
  }

  100% {
    background: rgb(4, 0, 255);
    box-shadow: 0 0 14px #1500ff;
    transform: translate(-50%) rotatez(378deg);
  }
}

@keyframes spin8 {
  0% {
    background: #000;
  }

  20% {
    background: #000;
  }

  50% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #1500ff;
  }

  100% {
    background: rgb(4, 0, 255);
    box-shadow: 0 0 14px #1500ff;
    transform: translate(-50%) rotatez(396deg);
  }
}

@keyframes spin9 {
  0% {
    background: #000;
  }

  20% {
    background: #000;
  }

  50% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #1500ff;
  }

  100% {
    background: rgb(4, 0, 255);
    box-shadow: 0 0 14px #1500ff;
    transform: translate(-50%) rotatez(414deg);
  }
}

@keyframes spin10 {
  0% {
    background: #000;
  }

  20% {
    background: #000;
  }

  50% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #1500ff;
  }

  100% {
    background: rgb(4, 0, 255);
    box-shadow: 0 0 14px #1500ff;
    transform: translate(-50%) rotatez(432deg);
  }
}

@keyframes spin11 {
  0% {
    background: #000;
  }

  20% {
    background: #000;
  }

  50% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #1500ff;
  }

  100% {
    background: rgb(4, 0, 255);
    box-shadow: 0 0 14px #1500ff;
    transform: translate(-50%, 60%) rotatez(450deg);
  }
}

@keyframes spin12 {
  0% {
    background: #000;
  }

  20% {
    background: #000;
  }

  50% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #1500ff;
  }

  100% {
    background: rgb(4, 0, 255);
    box-shadow: 0 0 14px #1500ff;
    transform: translate(-50%) rotatez(468deg);
  }
}

@keyframes spin13 {
  0% {
    background: #000;
  }

  20% {
    background: #000;
  }

  50% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #1500ff;
  }

  100% {
    background: rgb(4, 0, 255);
    box-shadow: 0 0 14px #1500ff;
    transform: translate(-50%) rotatez(486deg);
  }
}

@keyframes spin14 {
  0% {
    background: #000;
  }

  20% {
    background: #000;
  }

  50% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #1500ff;
  }

  100% {
    background: rgb(4, 0, 255);
    box-shadow: 0 0 14px #1500ff;
    transform: translate(-50%) rotatez(504deg);
  }
}

@keyframes spin15 {
  0% {
    background: #000;
  }

  20% {
    background: #000;
  }

  50% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #1500ff;
  }

  100% {
    background: rgb(4, 0, 255);
    box-shadow: 0 0 14px #1500ff;
    transform: translate(-50%) rotatez(522deg);
  }
}

@keyframes spin16 {
  0% {
    background: #000;
  }

  20% {
    background: #000;
  }

  50% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #1500ff;
  }

  100% {
    background: rgb(4, 0, 255);
    box-shadow: 0 0 14px #1500ff;
    transform: translate(-50%, 90%) rotatez(540deg);
  }
}

@keyframes spin17 {
  0% {
    background: #000;
  }

  20% {
    background: #000;
  }

  50% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #1500ff;
  }

  100% {
    background: rgb(4, 0, 255);
    box-shadow: 0 0 14px #1500ff;
    transform: translate(-50%) rotatez(558deg);
  }
}

@keyframes spin18 {
  0% {
    background: #000;
  }

  20% {
    background: #000;
  }

  50% {
    background: rgb(16, 0, 233);
    box-shadow: 0 0 14px #1500ff;
  }

  100% {
    background: rgb(4, 0, 255);
    box-shadow: 0 0 14px #1500ff;
    transform: translate(-50%) rotatez(576deg);
  }
}

@keyframes icon1 {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(1.3);
  }

  66% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes circleStep {
  0% {
    left: 0;
  }
  10% {
    left: 5%;
  }
  20% {
    left: -5%;
  }
  30% {
    left: 5%;
  }
  40% {
    left: -5%;
  }
  50% {
    left: 5%;
  }
  60% {
    left: -5%;
  }
  70% {
    left: 5%;
  }
  80% {
    left: -5%;
  }
  90% {
    left: 5%;
  }
  100% {
    left: 0;
  }
}
@keyframes circleStep2 {
  0% {
    left: 50%;
  }
  10% {
    left: 55%;
  }
  20% {
    left: 45%;
  }
  30% {
    left: 55%;
  }
  40% {
    left: 45%;
  }
  50% {
    left: 55%;
  }
  60% {
    left: 45%;
  }
  70% {
    left: 55%;
  }
  80% {
    left: 45%;
  }
  90% {
    left: 55%;
  }
  100% {
    left: 50%;
  }
}
@keyframes ripple {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes calcGreen {
  0% {
    border: 2px solid transparent;
  }
  25% {
    border: 2px solid green;
  }
  50% {
    border: 2px solid transparent;
  }
  75% {
    border: 2px solid green;
  }
  100% {
    border: 2px solid transparent;
  }
}
@keyframes calcRed {
  0% {
    border: 2px solid transparent;
  }
  25% {
    border: 2px solid red;
  }
  50% {
    border: 2px solid transparent;
  }
  75% {
    border: 2px solid red;
  }
  100% {
    border: 2px solid transparent;
  }
}
@keyframes animBtn {
  0% {
    background: #274d85;
    margin-left: 0;
  }
  25% {
    background: #da2929;
    box-shadow: inset 0px 0px 15px darkred;
    margin-left: 3px;
  }
  50% {
    background: #274d85;
    box-shadow: inset 0px 0px 15px transparent;
    margin-left: -3px;
  }
  75% {
    background: #da2929;
    box-shadow: inset 0px 0px 15px darkred;
    margin-left: 3px;
  }
  100% {
    background: #274d85;
    box-shadow: inset 0px 0px 15px transparent;
    margin-left: 0;
  }
}
@keyframes animColor {
  0% {
    color: goldenrod;
  }
  25% {
    color: red;
  }
  50% {
    color: goldenrod;
  }
  75% {
    color: red;
  }
  100% {
    color: goldenrod;
  }
}
@keyframes circleDots {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes colorInfo {
  0% {
    background: cadetblue;
  }
  100% {
    background: blue;
  }
}
@keyframes gears {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
